<html><body>
<br>
<big><big><big>T</big></big></big>his is your <span
style='font-weight: bold;'>receipt</span>. It was a pleasure duing
business with you. We hope that you enjoyed the show that that we
sill see you again real soon.  If you think of <span
style='font-weight: bold;'>anything</span> else please feell to
contact us at your earliest convenience.  You can reach us at <a
href='http://www.iTelepsych.com'>http://www.iTelepsych.com</a> at any
time<br>
<br>
<table style='text-align: left; width: 456px;' border='1'
cellpadding='2' cellspacing='2'>
<tbody>
<tr>
<td style='vertical-align: top; width: 312px; font-weight: bold;'>Item<br>
</td>
<td style='vertical-align: top; width: 126px; font-weight: bold;'>Amount<br>
</td>
</tr>
<tr>
<td style='vertical-align: top; width: 312px;'>Initial
Consultation<br>
</td>
<td style='vertical-align: top; width: 126px;'>$550.00<br>
</td>
</tr>
<tr>
<td style='vertical-align: top; width: 312px;'>Materials<br>
</td>
<td style='vertical-align: top; width: 126px;'>$447.00<br>
</td>
</tr>
<tr>
<td style='vertical-align: top; width: 312px; font-weight: bold;'>Total<br>
</td>
<td style='vertical-align: top; width: 126px; font-weight: bold;'>$997.00<br>
</td>
</tr>
<tr>
<td style='vertical-align: top; width: 312px;'><br>
</td>
<td style='vertical-align: top; width: 126px;'><br>
</td>
</tr>
</tbody>
</table>
<br>
</body>
</html>
