Dear ##name##, 
<br>
<br>
You are invited to join a session with ##patient_name## by ##provider_name##. The schedule of the session is  
<br>
      ##datetime##.
<br>
<br>

When you are ready to join the session please start the iTelepsych Mobile app that you downloaded earlier and <br>login into iTelepsych:
<br>
<br>
<br>
<big><big>Please note</big></big>.  If this is the first time you are attending this sesion with this computer, you must download and install the plugin for this computer by clicking on the following link:
<br>
<br>
<a href="http://app.itelepsych.com/downloads/software_downloads.html">Download iTelepsych Mobile</a><br>
<br> if you have any questions please call  ##provider_name##'s office at (480) 551-8004.
<br>
<br>
Thank You
<br>
<br>
##provider_name##
<br>
<br>10165 N. 92nd ST. Suite 101
<br>Scottsdale, AZ 85258
<br>Phone: (480)-551-8004
<br>Fax  : (480)-552-5209
<br>info@itelcompanies.com
